.box{
  width:180px;
  height:180px;
  background-color: blue;
  animation-name: move;
  animation-duration: 2s;

}

@keyframes move{
  from{
    transform:translateX(0);
  }
  to{
    transform: translateX(200px);
  }
}

.triangle{
  width:180px;
  height: 180px;
  background-color: chartreuse;
  animation-name: forwards;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count:infinite;
  animation-direction: reverse;
}

@keyframes forwards{
  0%{
    transform: scaleX(1.5);
  }
  50%{
    transform: rotate(30deg);

  }
  100%{
    transform: translateX(300px);
  }
}